body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  height: 400px;
}

.words{
  grid-column: 1;
  grid-row: 1 / 6;
}

.word{
  display: flex;
  grid-column: 1;
  grid-row: 7;
}

.letter{
  /* padding: 5px; */
  text-align: center;
}

.suggestion-list{
  grid-column: 3;
  grid-row: 1 / 7;
  overflow-y: auto;
}

.letter-input{
  width: 40px;
  height: 40px;
  font-size: xx-large;
  cursor: pointer;
}

.button-add{
  grid-column: 2;
  grid-row: 6;
}

.button-reset{
  grid-column: 2;
  grid-row: 7;
}

.white{
  background-color: white;
}

.yellow{
  background-color: #c9b458;
}

.green{
  background-color: green;
}

.grey{
  background-color: grey;
}